
#friendsOuterContainer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   

#friendsInnerContainer {
    height: auto;
    width: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 100px;
}

#friendsElementContainer {
    height: 300px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);   
    margin: 100px 0 0 0;
    border-radius: 15px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#friendsHeader {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    font-weight: 900;
}

#noFriends {
    height: 600px;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#friendsElementUsername {
    font-size: 35px;
    font-weight: 900;
    margin-left: 25px;
}

#friendsElementSectionOne {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

#friendsRemoveButton {
    font-size: 23px;
    font-weight: 700;
    padding: 25px 40px 25px 40px;
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

#friendsProfilePhoto {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: wheat;
    margin-left: 25px;
}