
#friendsOuterContainer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   

#friendsInnerContainer {
    height: auto;
    width: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 100px;
    padding-top: 80px;
}

#friendsElementContainer {
    height: 130px;
    width: 100%;
    margin: 20px 0 0 0;
    border-radius: 15px;
    background-color: #00062b;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#friendsHeader {
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    font-weight: 900;
    color: #00062b;
    display: flex;
    align-items: center;
}

#friendsHeader span {
    font-weight: 400;
    font-size: 2rem;
    margin-left: 20px;
}

#noFriends {
    height: 500px;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#friendsElementUsername {
    font-size: 35px;
    font-weight: 900;
}

#usernameContainer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#friendsElementSectionOne {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

#friendsRemoveButton {
    height: auto;
    width: auto;
    font-size: 23px;
    font-weight: 700;
    padding: 25px 40px 25px 40px;
    background-color: whitesmoke;
    color: #00062b;
    border-radius: 10px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

#friendsProfilePhoto {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: wheat;
    margin-left: 25px;
    background-position: center;   
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    #friendsInnerContainer {
        width: 80%;
        justify-content: flex-start;
        padding: 30px 0 0 0;
    }

    #friendsHeader {
        font-size: 1.6rem;
    }

    #friendsHeader span {
        font-size: 0.9rem;
    }

    #noRequest {
        height: 200px;
        font-size: 1rem;
    }

    #friendsElementContainer {
        height: 80px;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    #friendsElementSectionOne {
        height: 70px;
        width: auto;
    }

    #friendsProfilePhoto {
        height: 50px;
        width: 50px;
        margin: 0;
    }

    #usernameContainer {
        height: auto;
        margin: 0 0 0 15px;
    }

    #friendsElementUsername {
        font-size: 0.9rem;
    }

    #friendsRemoveButton {
        height: 40px;
        width: 20px;
        position: static;
        font-size: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
    #friendsInnerContainer {
        width: 80%;
        justify-content: flex-start;
        padding: 60px 0 0 0;
    }

    #friendsHeader {
        font-size: 2.5rem;
    }

    #friendsHeader span {
        font-size: 1.2rem;
    }

    #noRequest {
        height: 400px;
        font-size: 1.6rem;
    }

    #friendsElementContainer {
        height: 100px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    #friendsElementSectionOne {
        height: 100px;
        width: auto;
        padding-left: 40px;
    }

    #friendsProfilePhoto {
        height: 70px;
        width: 70px;
        margin: 0;
    }

    #usernameContainer {
        height: auto;
        margin: 0 0 0 15px;
    }

    #friendsElementUsername {
        font-size: 1.4rem;
    }

    #friendsRemoveButton {
        height: 70px;
        width: 140px;
        position: static;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    #friendsInnerContainer {
        width: 80%;
        justify-content: flex-start;
        padding: 80px 0 0 0;
    }

    #friendsHeader {
        font-size: 2.7rem;
    }

    #friendsHeader span {
        font-size: 1.6rem;
    }

    #noRequest {
        height: 600px;
        font-size: 1.6rem;
    }

    #friendsElementContainer {
        height: 120px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    #friendsElementSectionOne {
        height: 100px;
        width: auto;
        padding-left: 40px;;
    }

    #friendsProfilePhoto {
        height: 85px;
        width: 85px;
        margin: 0;
    }

    #usernameContainer {
        height: auto;
        margin: 0 0 0 15px;
    }

    #friendsElementUsername {
        font-size: 1.2rem;
    }

    #friendsRemoveButton {
        height: 70px;
        width: 200px;
        position: static;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 40px;
    }
}


