@import url('variables.css');
* {
    font-family: 'Montserrat', sans-serif;
}

#heroContainer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#heroPageContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#upperContainer {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#heroText {
    height: auto;
    width: auto;
    font-size: 10rem;
    font-weight: 900;
    text-align: center;
    color: #0B0B0C;
}

#heroSubText {
    height: auto;
    width: 700px;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    color: #0B0B0C;
}

#lowerContainer {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* animation */
.executeAnimation {
    animation-name: emotionAnimation;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-duration: 3s;
}

.emotions {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px; 
    font-size: 22px;
}

#emotionOne {
    background-color: #F7D358;
}

#emotionTwo {
    background-color: #4ECDC4;
}

#emotionThree {
    background-color: #EAD1DC;
}

#emotionFour {
    background-color: #D9382F;
}

#emotionFive {
    background-color: #9EADBA;
}

/* animations */
/* css variables from react */
/* :root {
    --firstColor: white;
    --secondColor: var(--firstColor);
} */

@keyframes emotionAnimation {
    0% {
        background-color: var(--secondColor);
    }
    33.3% {
        background-color: var(--secondColor);
    }
    66.6% {
        background-color: var(--firstColor);
    }
    100% {
        background-color: var(--firstColor);
    }
}

/* media :)) */
@media only screen and (min-width: 320px) and (max-width: 500px) {
    #upperContainer {
        height: 50vh;
    }
    
    #heroText {
        font-size: 4.5rem;
    }
    
    #heroSubText {
        font-size: 1.1rem;
    }

    #lowerContainer {
        height: auto;
        gap: 5px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap; 
        margin-top: 40px;    
    }

    .emotions {
        height: 100px;
        width: 100px;
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
    #upperContainer {
        height: 50vh;
    }

    #heroText {
        font-size: 5.8rem;
    }

    #heroSubText {
        font-size: 1.3rem;
    }
}