@import url('variables.css');
/* LFG */
#howItWorksOuterContainer {
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#overlayContainer {
    height: 1000px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400px;
    font-weight: 900;
    text-align: center;
    z-index: -1;
    line-height: 0.9;
    color: rgba(0, 0, 0, 0.06);
}

/* animation */
.executeAnimationn {
    animation-name: demoo;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes demoo {
    0% {
        background-color: var(--secondColor);
    }
    33.3% {
        background-color: var(--secondColor);
    }
    66.6% {
        background-color: var(--firstColor);
    }
    100% {
        background-color: var(--firstColor);
    }
}

#howItWorksText {
    font-size: 7rem;
    color: #00062b;
    font-weight: 900;
}

#howItWorksUpperContainer {
    text-align: center;
    height: 200px;
    width: 60%;
}

#howItWorksLowerContainer {
    height: auto;
    width: 60%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.heroSteps {
    height: 100px;
    width: 600px;
    color: white;
    font-size: 1.8rem;
    background-color: #00062b;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
