/* LFG */
#messagesOuterContainer {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messagesInnerContainer {
    height: 700px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

#messagesText {
    height: auto;
    width: auto;
    font-size: 50px;
    position: absolute;
    top: 20px;
    left: 0;
    font-weight: 900;
    color: #00062b;
}

.conversationReceiverName {
    height: 100px;
    width: 100%;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

#messagesSectionOne {
    height: 600px;
    width: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: scroll;
}

#messagesSectionTwo {
    height: 670px;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#messagesHeader {
    height: 100px;
    width: 100%;
    background-color: #00062b;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#messagesBody {
    border: 1px solid #00062b;
    overflow-y: scroll;
}

#messagesForm {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#messageInputField {
    height: 70px;
    width: 70%;
    font-size: 1.3rem;
    padding-left: 15px;
}

#messageSubmitButton {
    height: 70px;
    width: 30%;
    font-size: 1.3rem;
    background-color: #00062b;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.conversationContainer {
    height: 100px;
    width: 270px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: #00062b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 15px;
}

.conversationUsername {
    height: auto;
    width: auto;
    color: white;
    font-size: 1.5rem;
    padding-left: 15px;
}

.conversationProfile {
    height: 65px;
    width: 65px;
    background-color: white;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rightMessage {
    height: auto;
    width: auto;
    min-height: 75px;
    min-width: 120px;
    max-width: 450px;
    float: right;
    clear: both;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.leftMessage {
    height: auto;
    width: auto;
    min-height: 75px;
    min-width: 120px;
    max-width: 450px;
    float: left;
    clear: both;
    background-color: #00062b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    #messagesInnerContainer {
        width: 70%;
        justify-content: flex-start;
        padding: 0;
    }

    #messagesText {
        font-size: 1.7rem;
    }

    #noRequest {
        height: 200px;
        font-size: 1rem;
    }
}