/* LFG */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

#navContainer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: fixed;
    top: 0;
    z-index: 2;
}

#navLogo {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

#navLinks {
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#loginCta {
    height: 50px;
    width: 100px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

#home {
    text-decoration: none;
    color: black;
}

#howItWorks {
    text-decoration: none;
    color: black;
}

#loginCta:hover, #howItWorks:hover {
    cursor: pointer;
}

#navTwoContainer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;
}

/* nav two design */
.navTwoItem {
    height: 50px;
    width: 130px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    color: #0b0b0c;
    margin: 0 20px 0 20px;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    #navTwoContainer {
        height: auto;
        align-items: center;
        flex-wrap: wrap;
    }

    .navTwoItem {
        width: 80px;
        font-size: 0.6rem;
        margin: 10px 10px 10px 10px;
    }
} 

@media only screen and (min-width: 501px) and (max-width: 767px) {
    #navTwoContainer {
        height: auto;
        align-items: center;
        flex-wrap: wrap;
    }

    .navTwoItem {
        width: 100px;
        font-size: 1.05rem;
        margin: 10px 10px 10px 10px;
    }
}

