
#requestOuterContainer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#requestInnerContainer {
    height: auto;
    width: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 100px;
}

#requestProfilePhoto {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: wheat;
    margin-left: 25px;
}

#requestElementContainer {
    height: 300px;
    width: 100%;
    border: 1px solid rgba( 0, 0, 0, 0.3);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 100px 0 0 0;
    background-color: black;
    color: white;
    position: relative;
}

#requestUsername {
    font-size: 40px;
    font-weight: 900;
}

#requestUpperContainer {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#requestLowerContainer {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.requestLowerButton {
    height: auto;
    width: 260px;
    font-size: 23px;
    font-weight: 700;
    padding: 25px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-left: 25px;
}

#requestHeaderText {
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
}

#usernameContainer {
    height: 200px;
    margin-left: 25px;
}

#noRequest {
    height: 600px;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}